.section {
  height: 120px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 32px;
}

.link {
  color: var(--p1);
}

.active {
  color: var(--n2);
}

.inactive {
  color: var(--n4);
}

.inactive:hover {
  color: var(--n2);
}

@media (max-width: 768px) {
  .section {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--n8);
  }
}
