.section {
  padding-top: 200px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 700px;
  text-align: center;
}

.title {
  margin-bottom: 24px;
  margin-top: 24px;
}
