[class~="section"] {
  padding: 128px 0;
}

.section-bg {
  background-color: #c2eaba;
  background-image: linear-gradient(
    319deg,
    #c2eaba 0%,
    #c5f4e0 37%,
    #efc2cf 100%
  );
}

.section-pb {
  padding-top: 0;
}

.section-pt {
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .section {
    padding: 90px 0;
  }
}
